:root {
    --pesto-green: #1e4836;
    --sage-green: #588157;
    --roasted-tomato-red: #cf4538;
    --pastry-yellow: #efa348;
    --vanilla-yellow: #ffe1a4;
    --dark-green: #112D21;
    --light-sage-green: #C3CEC3;
}